<main class="container">
  <article id="<%= post.layout %>-<%= post.slug %>" class="row pt-sm-5 article" itemscope itemprop="blogPost">
    <%- partial('post/gallery') %>
      <% if (post.link || post.title){ %>
        <header class="col-12 mb-4">
          <h1>
            <%= post.title %>
          </h1>
          <%- partial('post/date', {date_format: 'Y-MM-D' }) %>
          <%- partial('post/tag') %>
        </header>
        <% } %>

      <% if (post.excerpt && index){ %>
      <%- post.excerpt %>
      <% if (theme.excerpt_link){ %>
        <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
      <% } %>
      <% } else { %>
          <%- post.content %>
      <% } %>
  </article>
</main>
<footer class="my-3 my-sm-5">
  <div class="container my-3 my-sm-5">
    <div class="row">
      <div class="col-12 col-sm-7 mx-auto">
        <% if (!index){ %>
          <%- partial('post/nav') %>
          <% } %>
      </div>
    </div>
  </div>
</footer>
