<main class="p-2">
  <article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope
    itemprop="blogPost">
    <%- partial('post/date', {date_format: 'MMM D Y'}) %>
    <div class="article-inner">
      <%- partial('post/gallery') %>
      <% if (post.link || post.title){ %>
      <header>
        <h1 class="h4">
          <%- partial('post/title') %>
        </h1>
      </header>
      <% } %>
      <div class="article-entry">
        <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
        <p class="article-more-link">
          <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
        </p>
        <% } %>
        <% } else { %>
        <%- post.content %>
        <% } %>
      </div>
      <footer class="article-footer">
        <%- partial('post/tag') %>
      </footer>
    </div>
    <aside id="sidebar" <% if (theme.sidebar === 'bottom') %>>
      <div class="row">
        <% theme.widgets.forEach(function(widget){ %>
        <%- partial('_widget/' + widget) %>
        <% }) %>
      </div>
    </aside>
    <% if (!index){ %>
    <%- partial('post/nav') %>
    <% } %>
  </article>
</main>
