<main class="container">
  <article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope
    itemprop="blogPost">
    <%- partial('post/date', {date_format: 'MMM D Y' }) %>
      <div class="article-inner">
        <%- partial('post/gallery') %>
          <% if (post.link || post.title){ %>
      <header class="border-bottom mb-2">
        <small><%- partial('post/tag') %></small>
        <h1 class="h4">
          <%- partial('post/title') %>
        </h1>
      </header>
      <% } %>

      <div class="article-entry">
        <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
        <p class="article-more-link">
          <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
        </p>
        <% } %>
        <% } else { %>
        <%- post.content %>
        <% } %>
      </div>
      <footer class="article-footer">
      </footer>
    </div>
  </article>
</main>
<footer class="pb-3">
  <nav id="sidebar" class="container" <% if (theme.sidebar === 'bottom') %>>
    <div class="row">
      <% theme.widgets.forEach(function(widget){ %>
      <%- partial('_widget/' + widget) %>
      <% }) %>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <% if (!index){ %>
      <%- partial('post/nav') %>
      <% } %>
    </div>
  </div>
</footer>
