<main class="container">
  <div class="row">
    <article id="<%= post.layout %>-<%= post.slug %>" class="col-12 article" itemscope itemprop="blog post">
      <%- partial('post/gallery') %>
        <% if (post.link || post.title){ %>
          <header class="col-12 mb-4">
            <h1>
              <%= post.title %>
            </h1>
            <%- partial('post/tag') %>
              <%- partial('post/date', {date_format: 'Y-MM-D' }) %>
          </header>
          <% } %>

            <% if (post.excerpt && index){ %>
              <%- post.excerpt %>
                <% if (theme.excerpt_link){ %>
                  <a href="<%- url_for(post.path) %>#more">
                    <%= theme.excerpt_link %>
                  </a>
                  <% } %>
                    <% } else { %>
                      <%- post.content %>
                        <% } %>
    </article>
  </div>
</main>

<% if (!index){ %>
  <footer class="my-3 my-sm-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-7 mx-auto">
          <%- partial('post/nav') %>
        </div>
      </div>
    </div>
  </footer>
  <% } %>