<header class="sticky-top p-2">
  <div class="header-inner">
    <div class="d-flex align-items-center position-relative">
      <h1 class="d-flex justify-content-between align-items-center h4 mb-0">
        <%= config.title %>
      </h1>
      <nav class="d-flex ml-1">
        <% for (let i in theme.menu){ %>
        <a class="h4 mb-0 mr-2 <% if(is_current(theme.menu[i])){ %>active<% } %>"
          href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
      </nav>
      <nav>
        <% if (theme.rss){ %>
        <a href="<%- url_for(theme.rss) %>" title="<%= __('rss_feed') %>"></a>
        <% } %>
      </nav>
    </div>
    <small class="mb-0 text-muted">
      <% if (theme.subtitle){ %>
      <%= theme.subtitle %>
      <% } %>
    </small>
  </div>
</header>
