<!DOCTYPE html>
<html lang="<%= config.language %>">

<head>
  <meta charset="utf-8">
  <% var title = page.title;%>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="description" content="<%= config.description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
  <meta property="og:title" content="desginer wwwanyu" />
  <meta property="og:type" content="image/png" />
  <meta property="og:url" content="https://wwwanyu.com" />
  <meta property="og:image" content=<%= config.ogimage %> />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-config" content="/browserconfig.xml" />
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <% if (theme.favicon){ %>
  <link rel="icon" href="<%- theme.favicon %>">
  <link rel="sitemap" href="/sitemap.xml" />
  <% } %>
  <%- css('bootstrap-5.0.2-dist/css/bootstrap.min.css') %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;400;600&family=Noto+Sans+TC:wght@400;700&display=swap"
    rel="stylesheet">
  <%- css('css/i-like-green') %>
  <script async src="https://cdn.splitbee.io/sb.js"></script>
</head>
