<!DOCTYPE html>
<html lang="<%= config.language %>">

<head>
  <meta charset="utf-8">
  <% var title = page.title;%>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="description" content="<%= config.description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes">
  <meta property="og:title" content="desginer wwwanyu" />
  <meta property="og:type" content="image/png" />
  <meta property="og:url" content="https://wwwanyu.com" />
  <meta property="og:image" content=<%= config.ogimage %> />
  <% if (theme.favicon){ %>
  <link rel="icon" href="<%- theme.favicon %>">
  <link rel="sitemap" href="/sitemap.xml" />
  <% } %>
  <%- css('bootstrap-5.0.2-dist/css/bootstrap.min.css') %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;400;600&family=Noto+Sans+TC:wght@400;700&display=swap"
    rel="stylesheet">
  <%- css('css/i-like-green') %>
  <script async src="https://cdn.splitbee.io/sb.js"></script>
  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/8f0375fee757dfb1274db01be/99394455d80ae42131438169c.js");</script>
</head>
