<header class="header d-flex container-fluid py-2">
  <div class="row">
    <div class="col-12">
      <div class="d-flex flex-row-reverse">
        <a class="d-blcok" href="/" title="Home">
          <h1>
            <span class="visually-hidden">
              <%= config.title %>
            </span>
          </h1>
          <h2 class="heading">
            <% if (config.subtitle){ %>
                <%= config.subtitle %>
                <% } %>
              </h2>
              <small>
                <% if (config.subtitle){ %>
                <%= config.description %>
                <% } %>
              </small>
          </a>
      </div>
      <nav class="global-nav">
        <% for (let i in theme.menu){ %>
          <a class="button primary <% if(is_current(theme.menu[i])){ %>active<% } %>" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
      </nav>
    </div>
  </div>
  <% if (theme.rss){ %>
    <a href="<%- url_for(theme.rss) %>" title="<%= __('rss_feed') %>"></a>
  <% } %>
</header>
