<% if (post.link){ %>
<a itemprop="name" href="<%- url_for(post.link) %>" target="_blank" itemprop="url"
  class="text-title font-weight-bold"><%= post.title %></a>
<% } else if (post.title){ %>
<% if (index){ %>
<a itemprop="name" href="<%- url_for(post.path) %>" class="text-title font-weight-bold"><%= post.title %></a>
<% } else { %>
<a itemprop="name" href="<%- url_for(post.path) %>" itemprop="url"
  class="text-title font-weight-bold"><%= post.title %></a>
<% } %>
<% } %>
